* {
    margin: 0;
}

body {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 425px;
    height: 650px;
}

.header-icon {
    width: 25px;
    height: 25px;
}

.header {
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
}

.header-sign-in {
    padding-top: 25px;
}

.new-customer {
    color: grey;
}

.form {
    padding: 0px 40px;
}

.login {
    width: 100%;
    padding: 15px 0 15px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #d3d5d9;
}

.submit {
    width: 104%;
    padding: 15px 10px 15px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.remember {
    margin: 10px 10px 20px 0px;
}

button {
    background-color: black;
    color: white;
}

.links {
    margin-top: 20px;
}

.border {
    margin: 50px 0px 20px 0px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    align-items: center;
}

.google-container {
    display: flex;
    justify-content: center;
    padding: 0 40px;
    width: 84%;
}

.google-icon{
    width: 25px;
    height: 25px;
    padding-right: 20px;
}

.google {
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    border-radius: 10px;
    background-color: white;
    color: black;
    text-align: left;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    font-style: inherit;
}

.line {
    border-bottom: solid #d3d5d9;
    width: 38%;
    margin: 0 10px;
}

@media screen and (min-width: 600px) {
    .container {
      border: 1px solid #d2d5d9;
      border-radius: 15px;
    }
  }